---
layout: page
title: Examples
menu: examples
---

{% assign pages_list = site.pages | sort: 'name' %}
<div class="row">
  <div class="col-md-8">
      <ol class="post-list">
          {% for node in pages_list %}
          {% if node.title != null and node.layout == "example" and node.url contains "/examples/" and node.url != "/examples/" %}
          <li class="post-list-item">
              <h2 class="post-list-title">
                  <a class="hvr-underline-from-center" href="{{ site.url }}{{ node.url }}">{{ node.title }}</a>
              </h2>
              <p class="post-list-description">
                  {{ node.desc | strip_html | strip }}
              </p>
          </li>
          {% endif %}
          {% endfor %}
      </ol>

      <!-- Comments -->
      <!-- include disqus-comments.html -->

  </div>
</div>
<script>
    $(document).ready(function(){

        // Enable bootstrap tooltip
        $("body").tooltip({ selector: '[data-toggle=tooltip]' });

    });
</script>
